.slides {
    width: 9999px;
    height: 768px;
    padding: 0;
    margin: 0; 
    font-size: 0;
    transition: transform 0.5s ease-out;

    &--transitioning {
        transition: none;
    }

    &__item {
        width: 1024px;
        height: 100%;
        background-size: 1024px 768px;
        list-style-type: none;
        display: inline-block;
        position: relative;
    }
}

.slide-1 {
    background-image: url('../images/bg_1.png');
}

.slide-2 {
    background-image: url('../images/bg_2.png');
    margin-left: -1px;
}

.slide-3 {
    margin-left: -1px;
    background-image: url('../images/bg_3.png');
}