.header {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 77px;
    top: 16px;
}

.header__home {
    width: 24px;
    height: 20px;
    background-image: url(../images/icon_home.png);
    background-size: 24px 20px;
}

.header__name {
    margin-left: -26px;
}