.scroll {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40px;
    height: 436px;
}

.scroll__top {
    position: absolute;
    margin-top: -20px;
    top: 0px;
    transition: all .3s ease-out;
}
.scroll__top--transitioning {
    transition: none;
}

.scroll__bg {
    margin-top: -182px;
    margin-left: -1px;
    display: flex; 
    flex-wrap: wrap;
}