.popup__bg {
    width: 1024px;
    height: 768px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.3s forwards;
    animation-iteration-count: 1;
}

.slide-3__container-3 {
    margin-top: 48px;
    margin-left: 78px;
    position: relative;
    width: 860px;
    height: 564px;
}

.btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 260px;
}

.slide-3__content {
    margin-left: 260px;
    margin-top: 240px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
