.slide-3__title--small {
    margin-top: 90px;
    margin-left: 300px;
    margin-bottom: 10px;
    z-index: 1;
}

.slide-3__title--large {
    margin-left: 293px;
    z-index: 1;
}

.slide-3__btn-about {
    
    margin-left: 640px;
    margin-top: -77px;
}

.about {
    width: 20px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}