.slide-2__main-content {
    display: flex;
    align-items: center;
}

.slide-2__container {
    margin-top: 52px;
    margin-left: 20px;
    width: 674px;
    height: 378px;
    padding: 10px 60px 50px 30px;
    overflow-y: scroll;
    -webkit-overflow-scrolling : touch;
}

.slide-2__container::-webkit-scrollbar {
    display: none;
}  

.slide-2__title--small {
    margin-top: 48px;
}
