.footer {
    position: absolute;
    z-index: 1;
    bottom: 21px;
    left: 79px;
    z-index: 9999;
    width: 57px;
    height: 13.5px;
    background-image: url(../images/footer.png);
    background-size: 57px 14px;
}